
<div class="col-12" style="font-family: Open Sans; font-weight: lighter!important; padding: 2px;">
<div class="col-3 " style="display: inline-block; padding: 2px; ">
  <div class="col-12 " style="margin: 0px;padding: 2px; ">
    <div class="col-12" style="padding: 5px;">
      <mat-tab-group mat-align-tabs="center" #firsttabGroup  (selectedTabChange)="firstGaugeChart_Tab_Change($event)">

        <mat-tab label="{{ Left_Variables_Title[0] }}">
          <div style="border-color: gray; border-width: 1px; border-style: solid; margin-top: 5px;">
            <div class="text-center" style="padding-bottom: 10px; padding-top: 10px;">

              <radial-gauge

                [value] = "First_Variable_Left_Gauge_Value"

                width="300"
                height="200"
                title="{{ Left_Variables_Title[0] }}"
                units="%"

                min-value="0"
                start-angle="90"
                ticks-angle="180"

                max-value="100"
                major-ticks="0,20,40,60,80,100"
                minor-ticks="2"
                stroke-ticks="true"
                
                [attr.highlights] ="Left_First_Gauge_Innerside_Color"
                color-plate="#fff"
                border-shadow-width="0"
                borders="false"
                needle-type="arrow"
                needle-width="2"
                needle-circle-size="7"
                needle-circle-outer="true"
                needle-circle-inner="false"
                animation-duration="1500"
                animation-rule="linear"

                bar-width="10"
                bar-shadow="5"
                color-bar-progress="rgba(50,200,50,.75)"

                value-box="true"

              ></radial-gauge>


            </div>

          </div>
        </mat-tab>

        <mat-tab label="{{ Left_Variables_Title[1] }}">
          <div style="border-color: gray; border-width: 1px; border-style: solid; margin-top: 5px;">
            <div class="text-center" style="padding-bottom: 10px; padding-top: 10px;">

              <radial-gauge

                [value] = "Second_Variable_Left_Gauge_Value"

                width="300"
                height="200"
                title="{{ Left_Variables_Title[1] }}"
                units="%"

                min-value="0"
                start-angle="90"
                ticks-angle="180"

                max-value="100"
                major-ticks="0,20,40,60,80,100"
                minor-ticks="2"
                stroke-ticks="true"
                
                [attr.highlights] ="Left_Second_Gauge_Innerside_Color"
                color-plate="#fff"
                border-shadow-width="0"
                borders="false"
                needle-type="arrow"
                needle-width="2"
                needle-circle-size="7"
                needle-circle-outer="true"
                needle-circle-inner="false"
                animation-duration="1500"
                animation-rule="linear"

                bar-width="10"
                bar-shadow="5"
                color-bar-progress="rgba(50,200,50,.75)"

                value-box="true"

              ></radial-gauge>


            </div>

          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>

</div>
<div class="col-3" style="display: inline-block; padding: 2px; ">
  <div class="col-12 " style="margin: 0px;padding: 2px; ">
    <div class="col-12 " style="padding: 5px;">
      <mat-tab-group mat-align-tabs="center" #firstTabBarGroup>

        <mat-tab label="Current Month">
          <div style="border-color: gray; border-width: 1px; border-style: solid; margin-top: 5px;">
            <div style="padding-bottom: 10px;  margin: 5px;">

              <canvas id="{{id}}_FirstTabBarChart_Current_Month"></canvas>

            </div>
          </div>
        </mat-tab>

        <mat-tab label="Last Month">
          <div style="border-color: gray; border-width: 1px; border-style: solid; margin-top: 5px;">
            <div style="padding-bottom: 10px;  margin: 5px;">


            </div>
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
</div>
<div class="col-3 " style="display: inline-block; padding: 2px; ">
  <div class="col-12 " style="margin: 0px;padding: 2px; ">
    <div class="col-12" style="padding: 5px;">
      <mat-tab-group mat-align-tabs="center"  #secondtabGroup (selectedTabChange)="secondGaugeChart_Tab_Change($event)">

        <mat-tab label="{{ Right_Variables_Title[0] }}">
          <div style="border-color: gray; border-width: 1px; border-style: solid; margin-top: 5px;">
            <div class="text-center" style="padding-bottom: 10px; padding-top: 10px;">

              <radial-gauge

                [value] = "First_Variable_Right_Gauge_Value"

                width="300"
                height="200"
                title="{{ Right_Variables_Title[0] }}"
                units="%"

                min-value="0"
                start-angle="90"
                ticks-angle="180"
                
                max-value="100"
                major-ticks="0,20,40,60,80,100"
                minor-ticks="2"
                stroke-ticks="true"
                
                [attr.highlights] ="Right_First_Gauge_Innerside_Color"
                color-plate="#fff"
                border-shadow-width="0"
                borders="false"
                needle-type="arrow"
                needle-width="2"
                needle-circle-size="7"
                needle-circle-outer="true"
                needle-circle-inner="false"
                animation-duration="1500"
                animation-rule="linear"

                bar-width="10"
                bar-shadow="5"
                color-bar-progress="rgba(50,200,50,.75)"

                value-box="true"

              ></radial-gauge>


            </div>

          </div>
        </mat-tab>

        <mat-tab label="{{ Right_Variables_Title[1] }}">
          <div style="border-color: gray; border-width: 1px; border-style: solid; margin-top: 5px;">
            <div class="text-center" style="padding-bottom: 10px; padding-top: 10px;">

              <radial-gauge

                [value] = "Second_Variable_Right_Gauge_Value"

                width="300"
                height="200"
                title="{{ Right_Variables_Title[1] }}"
                units="%"

                min-value="0"
                start-angle="90"
                ticks-angle="180"
                max-value="100"
                major-ticks="0,20,40,60,80,100"
                minor-ticks="2"
                stroke-ticks="true"
                
                [attr.highlights] ="Right_Second_Gauge_Innerside_Color"
                color-plate="#fff"
                border-shadow-width="0"
                borders="false"
                needle-type="arrow"
                needle-width="2"
                needle-circle-size="7"
                needle-circle-outer="true"
                needle-circle-inner="false"
                animation-duration="1500"
                animation-rule="linear"

                bar-width="10"
                bar-shadow="5"
                color-bar-progress="rgba(50,200,50,.75)"

                value-box="true"
              ></radial-gauge>


            </div>

          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>

</div>
<div class="col-3" style="display: inline-block; padding: 2px; ">
  <div class="col-12 " style="margin: 0px;padding: 2px; ">
    <div class="col-12 " style="padding: 5px;">
      <mat-tab-group mat-align-tabs="center" #secondTabBarGroup>

        <mat-tab label="Current Month">
          <div style="border-color: gray; border-width: 1px; border-style: solid; margin-top: 5px;">
            <div style="padding-bottom: 10px;  margin: 5px;">

              <canvas id="{{id}}_SecondTabBarChart_Current_Month"></canvas>

            </div>
          </div>

        </mat-tab>

        <mat-tab label="Last Month">
          <div style="border-color: gray; border-width: 1px; border-style: solid; margin-top: 5px;">
            <div style="padding-bottom: 10px;  margin: 5px;">


            </div>
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
</div>
</div>

<div class="col-12" style="padding: 2px;">

<div class="col-4 text-center" style="display: inline-block; padding: 2px; ">
  <div class="col-12 " style="margin: 0px;padding: 2px; ">
    <div class="col-12 container" style="padding: 0px;">
      <mat-tab-group mat-align-tabs="center" #firstTabLineGroup (selectedTabChange)="firstLineChart_Tab_Change($event)">

        <mat-tab label="Current Month">
          <div style="border-color: gray; border-width: 1px; border-style: solid; margin-top: 5px;">
            <div style=" margin: 5px;">

              <canvas id="{{id}}_FirstLineChart_Current_Month"></canvas>

            </div>
          </div>

        </mat-tab>

        <mat-tab label="Last Month">
          <div style="border-color: gray; border-width: 1px; border-style: solid; margin-top: 5px;">
            <div style=" margin: 5px;">

              <canvas id="{{id}}_FirstLineChart_Last_Month"></canvas>

            </div>
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>

</div>

<div class="col-4" style="display: inline-block; padding: 2px; ">
  <div class="col-12 " style="margin: 0px;padding: 2px; ">
    <div class="col-12 container" style="padding: 0px;">
      <mat-tab-group mat-align-tabs="center" #compareTabLineGroup (selectedTabChange)="compareLineChart_Tab_Change($event)">

        <mat-tab label="Current Month">
          <div style="border-color: gray; border-width: 1px; border-style: solid; margin-top: 5px;">
            <div style=" margin: 5px;">

              <canvas id="{{id}}_CompareLineChart_Current_Month"></canvas>

            </div>
          </div>

        </mat-tab>

        <mat-tab label="Last Month">
          <div style="border-color: gray; border-width: 1px; border-style: solid; margin-top: 5px;">
            <div style=" margin: 5px;">

              <canvas id="{{id}}_CompareLineChart_Last_Month"></canvas>

            </div>
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
</div>

<div class="col-4" style="display: inline-block; padding: 2px; ">
  <div class="col-12" style="margin: 0px;padding: 2px; ">
    <div class="col-12 container" style="padding: 0px;">
      <mat-tab-group mat-align-tabs="center" #secondTabLineGroup  (selectedTabChange)="secondLineChart_Tab_Change($event)">

        <mat-tab label="Current Month">
          <div style="border-color: gray; border-width: 1px; border-style: solid; margin-top: 5px;">
            <div style=" margin: 5px;">

              <canvas id="{{id}}_SecondLineChart_Current_Month"></canvas>

            </div>
          </div>

        </mat-tab>

        <mat-tab label="Last Month">
          <div style="border-color: gray; border-width: 1px; border-style: solid; margin-top: 5px;">
            <div style=" margin: 5px;">

              <canvas id="{{id}}_SecondLineChart_Last_Month"></canvas>

            </div>
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
</div>

</div>

