<body style=" height: 100%;" dir="{{ languageService.direction }}">
<div class="justify-content-center row">
<div class="half-circle text-center">
  <mat-form-field style="width: 90%;">
    <mat-select placeholder="Language" style="margin-top:20px;" (selectionChange)="change_language($event.value)">
      <mat-option [value]="'en'">English <span class="flag-icon flag-icon-gb showing-flag-option"> </span></mat-option>
      <mat-option [value]="'pr'">Persian <span class="flag-icon flag-icon-ir showing-flag-option"> </span></mat-option>
    </mat-select>
  </mat-form-field>

  <div class="flag-icon showing-flag" [ngClass]="languageService.selected_flag_class"></div>

</div>
</div>
<div class="col-12 MenuColored" style="padding: 0px;">
  <div class="col-1 text-center" style="display: inline-block; padding: 0px;" *ngIf="status">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  </div>
  <div class="col-11" style="display: inline-block;  padding: 0px;">
    <app-nav-menu></app-nav-menu>
  </div>
</div>
<div class="col-12" style="padding: 0px; height: 100%;">
  <owl-fan-menu [spinable]="true" [movable]="true" [wingAngles]="17"
                [btnText]="'Menu'" [menuPosition]="'bottomLeft'" *ngIf="status">

    <owl-fan-menu-wing [wingColor]="'#DE321D'" [routerLink]='["/roles/get"]'>
      <span style="font-size: x-small;">
        Notifications
      </span>
      <owl-fan-menu-wing-icon>
        <img src="../../assets/Images/NOC-tile.png" style="width: 30px; height: auto; padding: 2px;" />
      </owl-fan-menu-wing-icon>
    </owl-fan-menu-wing>

    <owl-fan-menu-wing [wingColor]="'#E5451D'" [routerLink]='["/dashboard/firstpage"]'>
      <span style="font-size: x-small;">
        3G Chart
      </span>
      <owl-fan-menu-wing-icon>
        <img src="../../assets/Images/busines intel-tile.png" style="width: 30px; height: auto; padding: 2px;" />
      </owl-fan-menu-wing-icon>
    </owl-fan-menu-wing>

    <owl-fan-menu-wing [wingColor]="'#ED671F'" [routerLink]='["/dashboard/secondpage"]'>
      <span style="font-size: x-small;">
        Air Chart1
      </span>
      <owl-fan-menu-wing-icon>
        <img src="../../assets/Images/busines intel-tile.png" style="width: 30px; height: auto; padding: 2px;" />
      </owl-fan-menu-wing-icon>
    </owl-fan-menu-wing>

    <owl-fan-menu-wing [wingColor]="'#F0831C'" [routerLink]='["/dashboard/thirdpage"]'>
      <span style="font-size: x-small;">
        Air Chart2
      </span>
      <owl-fan-menu-wing-icon>
        <img src="../../assets/Images/busines intel-tile.png" style="width: 30px; height: auto; padding: 2px;" />
      </owl-fan-menu-wing-icon>
    </owl-fan-menu-wing>

    <owl-fan-menu-wing [wingColor]="'#F0991C'" [routerLink]='["/dashboard/Air/thirdpage"]'>
      <span style="font-size: x-small;">
        Air Chart3
      </span>
      <owl-fan-menu-wing-icon>
        <img src="../../assets/Images/busines intel-tile.png" style="width: 30px; height: auto; padding: 2px;" />
      </owl-fan-menu-wing-icon>
    </owl-fan-menu-wing>

    <owl-fan-menu-wing [wingColor]="'#F0991C'" [routerLink]='["/dashboard/Air/fourthpage"]'>
      <span style="font-size: x-small;">
        Air Chart4
      </span>
      <owl-fan-menu-wing-icon>
        <img src="../../assets/Images/busines intel-tile.png" style="width: 30px; height: auto; padding: 2px;" />
      </owl-fan-menu-wing-icon>
    </owl-fan-menu-wing>

    <owl-fan-menu-wing [wingColor]="'#F0991C'" [routerLink]='["/dashboard/UMTS/firstpage"]'>
      <span style="font-size: x-small;">
        UMTS
      </span>
      <owl-fan-menu-wing-icon>
        <img src="../../assets/Images/busines intel-tile.png" style="width: 30px; height: auto; padding: 2px;" />
      </owl-fan-menu-wing-icon>
    </owl-fan-menu-wing>

    <owl-fan-menu-wing [wingColor]="'#F7A71C'" [routerLink]='["/users/get"]'>
      <span style="font-size: x-small;">
        Administration
      </span>
      <owl-fan-menu-wing-icon>
        <img src="../../assets/Images/admin-tile.png" style="width: 30px; height: auto; padding: 2px;" />
      </owl-fan-menu-wing-icon>
    </owl-fan-menu-wing>

    <owl-fan-menu-wing [wingColor]="'#FCBB1B'">
      <span style="font-size: x-small;">
        Configuration
      </span>
      <owl-fan-menu-wing-icon>
        <img src="../../assets/Images/configuration-tile.png" style="width: 30px; height: auto; padding: 2px;" />
      </owl-fan-menu-wing-icon>
    </owl-fan-menu-wing>
  </owl-fan-menu>

  <mat-drawer-container style=" height: 100%;">
    <mat-drawer #snav mode="side" style="width: 15%;">

      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" [@detailExpand]>
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding [@detailExpand]>
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-icon-button disabled></button>
          {{node.name}}
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding [@detailExpand]>
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name}}
        </mat-tree-node>
      </mat-tree>

    </mat-drawer>
    <mat-drawer-content style=" height: 100%; background-color: white;">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
</body>


