<div class="col-12 text-center">
  <div class="text-center mx-auto" style="width: 90%; padding-top: 20px;">

    <ngx-spinner bdColor="rgba(51,51,51,0.5)"
                 size="large"
                 color="#fff"
                 type="ball-atom"
                 fullScreen="true">
      <p style="color: white"> Loading... </p>
    </ngx-spinner>

    <owl-form-field>
      <input owlInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </owl-form-field>
    <div class="mat-elevation-z8  text-center">

      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="name">
          <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Common.Name' | translate:languageService.lang }} </th>
          <td mat-cell *matCellDef="let user"> {{user.name}} </td>
        </ng-container>

        <ng-container matColumnDef="family">
          <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Common.Family' | translate:languageService.lang }}  </th>
          <td mat-cell *matCellDef="let user"> {{user.family}} </td>
        </ng-container>

        <ng-container matColumnDef="mobile">
          <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Common.Mobile_Number' | translate:languageService.lang }} </th>
          <td mat-cell *matCellDef="let user"> {{user.mobile}} </td>
        </ng-container>

        <ng-container matColumnDef="eMail">
          <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Common.E_Mail' | translate:languageService.lang }}  </th>
          <td mat-cell *matCellDef="let user"> {{user.eMail}} </td>
        </ng-container>

        <ng-container matColumnDef="userName">
          <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'User.Username' | translate:languageService.lang }}  </th>
          <td mat-cell *matCellDef="let user"> {{user.userName}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th class="text-center" mat-header-cell *matHeaderCellDef>
            <span (click)="openDialog_addUser($event)" style="cursor: pointer;">
              <mat-icon>add_circle</mat-icon>
            </span>
          </th>
          <td class="text-center" style="text-align: center!important;" mat-cell *matCellDef="let user">

            <span (click)='openDialog_editUser($event,  user.eMail  )' style="cursor: pointer; padding: 2px;">
              <mat-icon [ngStyle]="{'color':'green'}">edit</mat-icon>
            </span>

            <span (click)='openDialog_deleteUser($event, user.eMail  )' style="cursor: pointer; padding: 2px;">
              <mat-icon [ngStyle]="{'color':'red'}">remove_circle</mat-icon>
            </span>

            <span (click)='openDialog_UserChangePassword($event, user.eMail  )' style="cursor: pointer; padding: 2px;">
              <mat-icon [ngStyle]="{'color':'gray'}">vpn_key</mat-icon>
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

  </div>
</div>

