<div class="col-12">

  <div class="col-3 text-center " style="display: inline-block;">
    <div class="col-12 polaroid  btn btn-primary mb1 MenuColored" style="margin: 10px;padding: 20px;">
      <div class="col-12" style="font-family: Open Sans!important; padding: 0px;">
        <h3>
          Configuration
        </h3>
        <br />
        <img src="../../assets/Images/configuration-tile.png" style="width: 50px; height: auto;" />
      </div>
    </div>
  </div>

  <div class="col-3 text-center " style="display: inline-block;">
    <a class="nav-link text-dark" [routerLink]='["/users/get"]' style="padding:0;margin:0;">
      <div class="col-12 polaroid  btn btn-primary mb1 MenuColored" style="margin: 10px;padding: 20px;">
        <div class="col-12" style="font-family: Open Sans!important; padding: 0px;">
          <h3>
            Administration
          </h3>
          <br />
          <img src="../../assets/Images/admin-tile.png" style="width: 50px; height: auto;" />
        </div>
      </div>
    </a>
  </div>
  
  <div class="col-3 text-center " style="display: inline-block;">
    <div class="col-12 polaroid  btn btn-primary mb1 MenuColored" style="margin: 10px;padding: 20px;">
      <div class="col-12" style="font-family: Open Sans!important; padding: 0px;">
        <h3>
          System Processes
        </h3>
        <br />
        <img src="../../assets/Images/SystemProcesses-tile.png" style="width: 50px; height: auto;" />
      </div>
    </div>
  </div>

  <div class="col-3 text-center " style="display: inline-block;">
    <div class="col-12 polaroid  btn btn-primary mb1 MenuColored" style="margin: 10px;padding: 20px; ">
      <div class="col-12" style="font-family: Open Sans!important; padding: 0px;">
        <h3>
          Business Entities
        </h3>
        <br />
        <img src="../../assets/Images/Business Entities-tile.png" style="width: 50px; height: auto;" />
      </div>
    </div>
  </div>

  <div class="col-3 text-center " style="display: inline-block;">
    <a class="nav-link text-dark" [routerLink]='["/roles/get"]' style="padding:0;margin:0;">
      <div class="col-12 polaroid  btn btn-primary mb1 MenuColored" style="margin: 10px;padding: 20px;">
        <div class="col-12" style="font-family: Open Sans!important; padding: 0px;">
          <h3>
            Roles
          </h3>
          <br />
          <img src="../../assets/Images/rules-tile.png" style="width: 50px; height: auto;" />
        </div>
      </div>
    </a>
  </div>
  
  <div class="col-3 text-center " style="display: inline-block;">
    <a class="nav-link text-dark" [routerLink]='["/dashboard/firstpage"]' style="padding:0;margin:0;">
      <div class="col-12 polaroid  btn btn-primary mb1 MenuColored" style="margin: 10px;padding: 20px;">
        <div class="col-12" style="font-family: Open Sans!important; padding: 0px;">
          <h3>
            Reports & Dashboards
          </h3>
          <br />
          <img src="../../assets/Images/busines intel-tile.png" style="width: 50px; height: auto;" />
        </div>
      </div>
    </a>
  </div>

  <div class="col-3 text-center " style="display: inline-block;">
    <div class="col-12 polaroid  btn btn-primary mb1 MenuColored" style="margin: 10px;padding: 20px;">
      <div class="col-12" style="font-family: Open Sans!important; padding: 0px;">
        <h3>
          Notifications
        </h3>
        <br />
        <img src="../../assets/Images/NOC-tile.png" style="width: 50px; height: auto;" />
      </div>
    </div>
  </div>
</div>
<div style="position: fixed; bottom: 0px; right: 0px;">
  <owl-clock [ngStyle]="{'width': '5em!important'}" ></owl-clock>
</div>

