
<div class="col-12"
     style="padding-top: 20px;">
  
    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <h5 class="text-center col-xl-12 col-lg-12 col-md-12 col-sm-12">{{ 'Common.Fill_Form_Title_Text' | translate:languageService.lang }}</h5>      
    </div>

    <div class="row text-right">
      <div class="col-12">
        <form #f="ngForm" novalidate (ngSubmit)="registerUser(f)">

          <div class="form-group">
            <owl-form-field>
              <input owlInput type="text" id="name" placeholder="{{ 'Common.Name' | translate:languageService.lang }}" name="name"
                     required autoFocus [(ngModel)] ="user.name" #name="ngModel" autocomplete="off">

              <owl-error *ngIf="name.errors?.required && name.touched">
                {{ 'Common.Name_Required_Text' | translate:languageService.lang }}
              </owl-error>

            </owl-form-field>
          </div>

          <div class="form-group">
            <owl-form-field>
              <input owlInput type="text" id="family" placeholder="{{ 'Common.Family' | translate:languageService.lang }}" name="family"
                     required [(ngModel)] ="user.family" #family="ngModel" autocomplete="off">

              <owl-error *ngIf="family.errors?.required && family.touched">
                {{ 'Common.Family_Required_Text' | translate:languageService.lang }}
              </owl-error>

            </owl-form-field>
          </div>

          <div class="form-group">
            <owl-form-field >
              <input owlInput type="text" id="eMail" placeholder="{{ 'Common.E_Mail' | translate:languageService.lang }}" name="eMail" [disabled] ="true"
                     required email [(ngModel)] ="user.eMail" #eMail="ngModel" autocomplete="off" >

              <owl-error *ngIf="eMail.errors?.email && eMail.touched">
                {{ 'Common.E_Mail_Valid_Text' | translate:languageService.lang }}
              </owl-error>

              <owl-error *ngIf="eMail.errors?.required && eMail.touched">
                {{ 'Common.E_Mail_Required_Text' | translate:languageService.lang }}
              </owl-error>
            </owl-form-field>
          </div>


          <div class="form-group">
            <owl-form-field>
              <input owlInput type="{{ showPassword ? 'text' : 'password' }}" #password="ngModel"
                     id="password" autocomplete="off" name="password" placeholder="{{ 'User.Password' | translate:languageService.lang }}"
                     ngModel>

              <span owlSuffix (click)="togglePassword()" style="cursor: pointer;">
                <mat-icon *ngIf="showPassword">visibility_off</mat-icon>
                <mat-icon *ngIf="!showPassword">visibility</mat-icon>
              </span>
              
            </owl-form-field>
          </div>
          
          <div class="form-group">
            <owl-form-field>
              <input owlInput type="text" id="mobile" placeholder="{{ 'Common.Mobile_Number' | translate:languageService.lang }}" name="mobile"
                     required [(ngModel)] ="user.mobile" #mobile="ngModel" autocomplete="off" [owlInputMask]="'(999) 999-9999'">
              <owl-hint>(912) 345-6789 </owl-hint>
              <owl-error *ngIf="mobile.errors?.required && mobile.touched">
                {{ 'Common.Mobile_Number_Required_Text' | translate:languageService.lang }}
              </owl-error>

            </owl-form-field>
          </div>
          
          <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center">

            <button type="submit" class="owlng-btn" [disabled]="f.invalid || isRequesting"
                    owlRipple [owlRippleColor]="'rgba(81, 45, 168, 0.4)'">
              {{ 'Common.Update' | translate:languageService.lang }}
            </button>
            <ngx-spinner bdOpacity=1
                         bdColor="#333"
                         size="large"
                         color="#fff"
                         type="ball-atom"
                         fullScreen="true">
              <p style="color: white"> Loading... </p>
            </ngx-spinner>

          </div>

          <div *ngIf="errors" class="alert alert-danger text-left" role="alert">
            <strong>ERROR : </strong> {{errors}}
          </div>

        </form>
      </div>
    </div>

</div>

