
<div class="col-12"
     style="padding-top: 20px;">
  
    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <h5 class="text-center col-xl-12 col-lg-12 col-md-12 col-sm-12">{{ 'Common.Fill_Form_Title_Text' | translate:languageService.lang }}</h5>      
    </div>

    <div class="row text-right">
      <div class="col-12">
        <form #f="ngForm" novalidate (ngSubmit)="UserChangePassword(f)">

          <div class="form-group">
            <owl-form-field>
              <input owlInput type="text" id="email" placeholder="{{ 'Common.E_Mail' | translate:languageService.lang }}" name="email"
                     [disabled]="true" required email [(ngModel)]="user.eMail" #eMail="ngModel"
                     autocomplete="off">

              <owl-error *ngIf="eMail.errors?.email && eMail.touched">
                {{ 'Common.E_Mail_Valid_Text' | translate:languageService.lang }}
              </owl-error>

              <owl-error *ngIf="eMail.errors?.required && eMail.touched">
                {{ 'Common.E_Mail_Required_Text' | translate:languageService.lang }}
              </owl-error>
            </owl-form-field>
          </div>


          <div class="form-group">
            <owl-form-field>
              <input owlInput type="{{ showPassword ? 'text' : 'password' }}" #password="ngModel"
                     id="password" autocomplete="off" name="password"  placeholder="{{ 'User.Old_Password' | translate:languageService.lang }}"
                     ngModel>

              <span owlSuffix (click)="togglePassword()" style="cursor: pointer;">
                <mat-icon *ngIf="showPassword">visibility_off</mat-icon>
                <mat-icon *ngIf="!showPassword">visibility</mat-icon>
              </span>

            </owl-form-field>
          </div>

          <div class="form-group">
            <owl-form-field>
              <input owlInput type="{{ showNewPassword ? 'text' : 'password' }}" #newpassword="ngModel"
                     id="newpassword" autocomplete="off" name="newpassword"  placeholder="{{ 'User.New_Password' | translate:languageService.lang }}"
                     ngModel>

              <span owlSuffix (click)="toggleNewPassword()" style="cursor: pointer;">
                <mat-icon *ngIf="showNewPassword">visibility_off</mat-icon>
                <mat-icon *ngIf="!showNewPassword">visibility</mat-icon>
              </span>

            </owl-form-field>
          </div>

          <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center">

            <button type="submit" class="owlng-btn" [disabled]="f.invalid || isRequesting"
                    owlRipple [owlRippleColor]="'rgba(81, 45, 168, 0.4)'">
              {{ 'Common.Update' | translate:languageService.lang }}
            </button>
            <ngx-spinner bdOpacity=1
                         bdColor="#333"
                         size="large"
                         color="#fff"
                         type="ball-atom"
                         fullScreen="true">
              <p style="color: white"> Loading... </p>
            </ngx-spinner>

          </div>

          <div *ngIf="errors" class="alert alert-danger text-left" role="alert">
            <strong>ERROR : </strong> {{errors}}
          </div>

        </form>
      </div>
    </div>

</div>

